* {
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;

 max-width: 1600px;
}

.open-sans {
 font-family: "Open Sans", sans-serif;
 font-optical-sizing: auto;

}

header {
 background: url(../images/banner/banner3.png);
 background-repeat: no-repeat;

 text-align: right;
 height: 808px;

}

header h1 {
 font-size: 65px;
 font-weight: bold;
 color: #FFFFFF;
}

header p {
 font-size: 16px;
 font-weight: 400;
 color: #FFFFFF;
 padding: 24px 0 32px 80px;
}

.btn {
 color: #005FAC;
 padding: 21px 25px 20px 26px;
 font-size: 20px;
 font-weight: 600;
 border: none;
 border-radius: 5px;
 cursor: pointer
}

.banner-container {
 /* width: 30%; */
 position: ;
 /* background-color: chocolate; */
 padding: 216px 230px 364px 845px;

}

.success-container img {
 width: 569px;
 height: 722px;
}

.success-container {
 padding-top: 136px;
 padding-bottom: 150px;
 display: flex;
 gap: 87px;
 max-width: 1072px;

 justify-content: space-between;
 align-items: center;
}

.success-info h1 {
 font-size: 40px;
 font-weight: bold;
}

.success-info p {
 font-size: 16px;
 font-weight: 400;
 padding-top: 24px;
 padding-bottom: 10px;
}

.success-info li {
 list-style: none;
 font-size: 16px;
 font-weight: 400;
 padding-bottom: 5px;
}

.fa-solid {
 color: #16D887;
}

.plan-container {
 text-align: center;
 padding-bottom: 150px;
}

.plan-container h1 {
 font-size: 40px;
 font-weight: bold;
 padding-bottom: 10px;
}

.plan-container hr {
 width: 40%;

}

.plan-contants {
 padding: 50px 250px 0 250px;
 display: flex;
 /* background-color: #16D887; */
}

.plan-contant h3 {
 font-size: 30px;
 font-weight: bold;
 padding: 20px 0 16px 0;
}

.plan-contant p {
 font-size: 25px;
 font-weight: 600;
}

.watch-section {
 padding-bottom: 150px;
}

.watch-banner {
 background-color: #16D887;
 margin: 0 auto;
 width: 1140px;
 height: 300px;
 background: url(../images/gradient1.png), url(../images/watch.png);
 background-repeat: no-repeat;
 background-size: cover;
 padding: 59px 600px 59px 64px;


}

.watch-banner h1 {
 font-size: 40px;
 font-weight: bold;
 color: #FFFFFF;
 padding-bottom: 20px;
}

footer {
 background-color: black;

}

.footer-container {
 display: flex;
 justify-content: space-around;
 align-items: center;
 /* background-color: #16D887; */
 width: 85%;
 margin: 0 auto;
 height: 577px;
}

.footer-info {
 width: 35%;
}

.footer-info img {
 padding-right: 20px;
 padding-top: 10px;
}

.footer-info h1 {
 font-size: 45px;
 font-weight: bold;
 color: #FFFFFF;
}

.footer-info p {
 font-size: 16px;
 font-weight: 400;
 color: #FFFFFF;
 padding: 10px 0 10px 0;

}

.footer-form {
 padding-right: 100px;
 /* background-color: #16D887; */

}


.footer-form h2 {
 font-size: 30px;
 font-weight: 900;
 color: #FFFFFF;
 padding-bottom: 16px;

}

.email-box {
 width: 325px;
 height: 64px;
 border-radius: 5px;
 padding-left: 10px;
 font-size: 16px;
 font-weight: 600;

}

.subscribe-btn {
 color: #FFFFFF;
 background-color: #005FAC;
 padding: 16px 40px 16px 40px;
 border: none;
 border-radius: 5px;
 font-size: 20px;
 font-weight: 600;

}