* {
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;

 max-width: 1600px;
}

.open-sans {
 font-family: "Open Sans", sans-serif;
 font-optical-sizing: auto;

}

header {
 background: url(../images/banner/banner3.png);
 background-repeat: no-repeat;

 text-align: right;
 height: 808px;

}

header h1 {
 font-size: 65px;
 font-weight: bold;
 color: #FFFFFF;
}

header p {
 font-size: 16px;
 font-weight: 400;
 color: #FFFFFF;
 padding: 24px 0 32px 80px;
}

header button {
 color: #005FAC;
 padding: 21px 25px 20px 26px;
 font-size: 20px;
 font-weight: 600;
 border: none;
 border-radius: 5px;
 cursor: pointer
}

.banner-container {
 /* width: 30%; */
 position: ;
 /* background-color: chocolate; */
 padding: 216px 230px 364px 845px;

}

.success-container img {
 width: 569px;
 height: 722px;
}

.success-container {
 padding-top: 136px;
 display: flex;
 gap: 87px;
 max-width: 1072px;

 justify-content: space-between;
 align-items: center;
}

.success-info h1 {
 font-size: 40px;
 font-weight: bold;
}

.success-info p {
 font-size: 16px;
 font-weight: 400;
 padding-top: 24px;
 padding-bottom: 10px;
}

.success-info li {
 list-style: none;
 font-size: 16px;
 font-weight: 400;
 padding-bottom: 5px;
}

.fa-solid {
 color: #16D887;
}